*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
  }
  .container{
    width: 100%;
    min-height: 100vh;
    background: blue;
    padding: 10px;
  }
.todoapp{
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todoapp h2{
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todoapp h2 img{
 width: 50px;
 margin-left: 10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 20px;
}
button{
  border: none;
  outline: none;
  padding: 16px 50px;
  color: #fff;
  background: green;
  font-size: 18px;
  cursor: pointer;
  border-radius: 40px;
}
ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before{
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-image: url(https://pic.onlinewebfonts.com/svg/img_272749.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked{
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before{
  background-image: url(https://clipart-library.com/images_k/red-check-mark-transparent-background/red-check-mark-transparent-background-22.png);
}
ul li span{
  color: #555;
  top: 5px;
  right: 0;
  height: 40px;
  width: 40px;
  position: absolute;
  font-size: 30px;
  line-height: 40px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}
ul li span:hover{
  background: #edeef0;
}